/*
	CSS by pluto (#52831) for personal use only.
	I'm a beginner at CSS, but I'm trying my best :) Venture forward into messy code at your own risk.
	Ater (#206739) helped me figure out some of the code and I took a note from him when it came to organizing. :)
	If you feel as though I need to credit someone else, just message me! A lot of the rest of this was done by looking at various guides and LD's code.

*/

/* BASICS */

	/*Fonts*/
	@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

	/* Colors */

	:root {
		--brightorange: 255, 159, 56; /*hex: #ff9f38*/
		--orange: 206, 129, 84; /*hex: #ce8154*/
		--darkorange: 191, 118, 75; /*#bf764b*/
		--rust: 179, 83, 64; /*hex: #b35340*/
		--brown: 111, 54, 55; /*#6f3637*/
		--darkblue: 28, 41, 54; /*hex: #1c2936*/
		--darkred: 75, 43, 49; /*hex: #4b2b31*/
		--cream: 255, 244, 237; /*hex: #fff4ed*/
	}

/* GENERAL */

	body {
		background: url('https://i.imgur.com/YAJxFSm.png') no-repeat center top fixed;
		background-size: cover;
		font-family: 'PT Sans', sans-serif;
		color: rgba(var(--cream));
	}

	/* Links */

	/* mid */
	a:link, a:visited {
		color: rgba(var(--orange));
		transition: 0.25s;
	}

	a:hover {
		color: #ffb778;
		text-shadow: 0 0 2px rgba(var(--orange));
	}

	/* dark */
	.panel a:link, .panel a:visited,
	.inner-table a:link, .inner-table a:visited,
	#chatMessagePinned a:link, #chatMessagePinned a:visited,
	div .left a:link, div .left a:visited{
		color: #8c3220;
	}

	.panel a:hover,
	.inner-table a:hover,
	#chatMessagePinned a:hover,
	div .left a:hover {
		color: rgba(var(--darkred));
		text-shadow: 0 0 1px #8c3220;
	}

	/* light */
	.breadcrumb a:link, .breadcrumb a:visited,
	.topbar a:link, .topbar a:visited,
	.table .top a:link, .table .top a:visited, 
	.table .bottom a:link, .table .bottom a:visited,
	.table th a:link, .table th a:visited,
	a[href="/opt-out.php"], a[href="/marking-censor.php"],
	.sub_menu a:link, .sub_menu a:visited {
		color: rgba(var(--cream));
	}

	.breadcrumb a:hover,
	.topbar a:hover,
	.table .top a:hover,
	.table .bottom a:hover,
	.table th a:hover,
	h3 a:hover,
	a[href="/opt-out.php"]:hover, a[href="/marking-censor.php"]:hover,
	.sub_menu a:hover {
		color: #ffd2aa;
		text-shadow: 0 0 1px rgba(var(--cream));
	}

	.table .bottom a:hover {
		text-decoration: underline;
	}
	
	.alert-success a:link,
	.alert-success a:visited {
		color: rgba(60, 118, 61);
	}

	.alert-success a:hover,
	.alert-success a:focus,
	.alert-success a:active {
		color: rgba(34, 70, 34) !important;
		text-shadow: none;
	}

	.alert-danger a:link,
	.alert-danger a:visited {
		color: rgba(169, 68, 66);
	}

	.alert-danger a:hover,
	.alert-danger a:focus,
	.alert-danger a:active {
		color: rgba(140, 55, 53) !important;
		text-shadow: none;
	}

/* SCROLLBAR */

	/* Chrome */

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: rgba(var(--darkblue));
		border-radius: 0px;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(var(--rust));
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgba(var(--darkorange)) !important;
	}

	/* Firefox */

	:root {
		scrollbar-color: rgba(var(--rust)) rgba(var(--brown)) !important;
		scrollbar-width: thin !important;
	}

/* BARS */

	.topbar {
		background: rgba(var(--rust)) !important;
		color: rgba(var(--darkred));
		border-radius: 0px 0px 10px 10px;
	}

	.breadcrumb {
		background: rgba(var(--rust)) !important;
		color: rgba(var(--cream)) !important;
		border-radius: 10px;
	}

	.breadcrumb>.active {
		color: rgba (var(--cream));
	}

	.alert {
		border-radius: 10px;
	}

	/* Navbar */
	.navbar {
		background: rgba(var(--rust)) !important;
		border-radius: 10px 10px 0px 0px;
		padding-top: 1px;
	}

	.navbar li a {
		color: rgba(var(--cream)) !important;
		transition: 0.25s;
	}

	.navbar li a:hover {
		background: rgba(var(--orange)) !important;
	}

	/*Progress Bar*/
	.progress {
		overflow: hidden;
		background-color: rgba(var(--cream));
		border-radius: 10px;
	}

	.progress-bar {
		background: rgba(var(--rust));
	}

	th .progress-bar {
		background: rgba(var(--orange));
	}

/* Headers */

	/* Main Header */

	h1 {
		text-align: center;
		color: rgba(var(--brightorange));
		font-size: 40px;
	}

	/* Small Headers */

	.sidebar h3 {
		color: rgba(var(--darkorange));
	}

	h3 {
		color: rgba(var(--cream));
	}
/* MAIN COLUMN */

	/* Background */

	div.container.main {
		background: rgba(var(--darkblue)) !important;
		box-shadow: none;
		border: none !important;
		border-radius: 10px;
	}

	.col-md-9 {
		background: none;
	}

/* COMMENT BOX */
	#commentBox {
		border: none !important;
		background: rgba(var(--darkred));
		scrollbar-width: thin !important;
		
	}

	.text-muted, .s-chat-message_timestamp {
		color: rgba(var(--cream), 0.4);
	}

	.commentTag {
		border-radius: 50% !important;
	}

/* TABLES */

	/* Background/Border */

	.table {
		background: rgba(var(--darkred));
		border: none;
		border-collapse: separate;
		border-radius: 10px;
		overflow: hidden;
	}

	/* Table Headers + Footers */

	th, .top {
		text-align: left;
		background: rgba(var(--rust)) !important;
		color: rgba(var(--darkred)) !important;
	}

	.bottom {
		background: rgba(var(--rust)) !important;
		text-align: right !important;
	}

	.table .left {
		background: rgba(var(--rust)) !important;
		border-radius: 0px;
	}

	/* Inner Table */

	div#lion_image {
		border-radius: 50% !important;
		overflow: hidden;
	}

	.inner-table {
		border-spacing: 0px;
		overflow: hidden;
		border-radius: 10px;
	}

	.inner-table .left {
		color: rgba(var(--darkred)) !important;
		border-radius: 0px;
	}

	.inner-table .right {
		background: rgba(var(--orange)) !important;
		color: rgba(var(--darkred));
		border-radius: 0px;
	}

	.table .right_odd {
		background: rgba(0,0,0,0.1) !important;
	}

	/* Grids */

	div .left {
		background: rgba(var(--rust));
		border: none;
		border-radius: 10px;
		color: rgba(var(--darkred));
	}

	.cave-grid, .mound-grid {
		background: rgba(var(--rust));
		border: none;
		border-radius: 10px;
		color: rgba(var(--darkred));
		transition: 0.25s;
	}

	.mound-grid {
		padding: 0;
		padding-bottom: 5px;
	}

	.cave-grid img,
	.mound-grid img {
		width: 100%;
	}

	.cave-grid:hover, .mound-grid:hover {
		color: color: #ffd2aa;
		text-shadow: 0 0 2px rgba(var(--cream));
	}


/* SIDEBAR */

	/* Panels */
	.col-md-3 .panel {
		background: rgba(var(--orange));
		border: none;
		border-radius: 10px;
		color: rgba(var(--darkred));
		box-shadow: none;
	}

/*BUTTONS/OTHER INPUTS*/

	/* Buttons */

	.select-control,
	button.button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		background: rgba(var(--orange)) !important;
		color: rgba(var(--darkred)) !important;
		border: 1px solid transparent !important;
		text-align: center !important;
		text-shadow: none !important;
		box-shadow: 2px !important;
		border-radius: 10px !important;
		transition: 0.25s;
	}

	.select-control:hover, .select-control:focus, .select-control:active,
	button.button:hover, button.button:focus, button.button:active,
	input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active,
	input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active,
	input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active {
		background: rgba(var(--darkorange)) !important;
		border: 1px solid rgba(var(--rust)) !important;
		border-radius: 10px;
	}

	/* Text Areas */

	textarea, textarea:focus,
	input[type="text"], input[type="text"]:focus,
	input[type="password"], input[type="password"]:focus,
	#fra_chatContainer #txtChatInput {
		background: rgba(var(--cream));
		color: rgba(var(--darkblue));
		border: none;
		border-radius: 10px;
	}

	/* Select */

	select, select:focus, .s-chat-sidebar #label_currentChannel {
		background: rgba(var(--cream));
		color:rgba(var(--darkblue));
		border: none;
		border-radius: 10px;
	}

	/* Account options */
	.item {
		overflow: hidden;
		border: none;
		background: rgba(var(--cream));
		border-radius: 10px;
	}

	.item-header, .item-footer {
		background: rgba(var(--orange));
		color: rgba(var(--darkred));
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	input:checked + .slider {
		background: rgba(var(--darkorange));
	}

	.form-control {
		background-color: rgba(var(--cream));
		border: none;
		border-radius: 10px;
	}

	.table-bottom-select {
		color: rgba(var(--darkred));
	}

/* EVENT SPECIFICS */

	/* Event Features */
	div .feature {
		color: rgba(var(--cream));
		background: rgba(var(--rust));
		border: none;
		border-radius: 10px;
	}

	/* December Gifting Table */

	.table .table {
		background: rgba(var(--darkred));
		border-radius: 10px;
	}

/*IMAGES*/

	/*Logo Replacement*/

	div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
		visibility: hidden;
		position: relative;
	}

	div.container.main > div:nth-child(1) > nav > div.navbar-header > a::after {
		content: url('https://tinyurl.com/y3bzhcya');
		position: absolute;
		margin-left: -170px;
	}

/* Cave/Mound Specifics */
	.featured-lion {
		background-color: rgba(var(--darkred));
		color: rgba(var(--cream));
		border-radius: 10px;
	}

	.featured-lion p {
		margin: 5px;
	}

	.sub_menu {
		background: rgba(var(--rust));
	}

	.sub_sub_menu {
		background: rgba(var(--darkred));
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}

/* Other Details */
	.badge {
		background: rgba(var(--brightorange));
		color: rgba(var(--darkred));
	}

	#player hr {
		border-top: none;
	}

	hr {
		border-top: 1px solid rgba(var(--darkorange));
	}

/* Chat */
	#chatMessageContainer {
		border: none;
		border-radius: 10px;
		background: rgba(var(--darkred));
	}

	.s-chat-message:nth-child(2n+1) {
		background: none;
	}

	.s-chat-message:nth-child(2n) {
		background: rgba(0,0,0,0.1);
	}

	#chatMessagePinned.s-chat-message__pinned {
		background-color: rgba(var(--orange));
		color: rgba(var(--darkred));
		border-bottom-color: rgba(var(--rust)) !important;
	}

	.s-chat-message.hasContext {
		border-left-color: rgba(var(--brightorange)) !important;
		background: #663d32 !important;
	}

	#context-chatMenu, .s-chat-sidebar #fraChatChannelMenu, #fraChatSettingsMenu, .emoteList {
		background: rgba(var(--cream));
		border-radius: 10px;
		border: none;
		box-shadow: 1px 1px 2px rgba(var(--darkblue));
	}

	#context-chatMenu::before, #context-chatMenu::after {
		border-left-color: rgba(var(--cream));
	}

	#fraChatSettingsMenu::before, #fraChatSettingsMenu::after, .s-chat-sidebar .emoteList::before, .s-chat-sidebar .emoteList::after {
		border-bottom-color: rgba(var(--cream));
	}

	.chatMenu-container {
		border-radius: 10px;
		overflow: hidden;
	}

	#context-chatMenu .chatMenu-option, #fraChatSettingsMenu .chatMenu-option, #fra_chatContainer .channelMenu .channelSwitcher {
		background: rgba(var(--cream));
		color: rgba(var(--darkorange));
		transition: 0.25s;
	}

	#fra_chatContainer .channelMenu .channelSwitcher.active {
		background: rgba(var(--darkred));
		color: rgba(var(--cream));
	}

	#fra_chatContainer .channelMenu .channelSwitcher {
		border-radius: 10px;
	}

	#context-chatMenu .chatMenu-option:hover, #fraChatSettingsMenu .chatMenu-option:hover, #fra_chatContainer .channelMenu .channelSwitcher:hover {
		background: rgba(var(--orange), 0.25);
		color: rgba(var(--darkorange));
	}
