/*
	CSS by pluto (#52831) for personal use only.
	I'm a beginner at CSS, but I'm trying my best :) Venture forward into messy code at your own risk.
	Ater (#206739) helped me figure out some of the code and I took a note from him when it came to organizing. :)
	If you feel as though I need to credit someone else, just message me! A lot of the rest of this was done by looking at various guides and LD's code.

*/

/* BASICS */

	/*Fonts*/
	@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

	/* Colors */

	:root {
		--brightorange: 255, 159, 56; /*hex: #ff9f38*/
		--orange: 206, 129, 84; /*hex: #ce8154*/
		--darkorange: 191, 118, 75; /*#bf764b*/
		--rust: 179, 83, 64; /*hex: #b35340*/
		--brown: 111, 54, 55; /*#6f3637*/
		--darkblue: 28, 41, 54; /*hex: #1c2936*/
		--darkred: 75, 43, 49; /*hex: #4b2b31*/
		--cream: 255, 244, 237; /*hex: #fff4ed*/
	}

/* GENERAL */

	body {
		background: url('https://i.imgur.com/YAJxFSm.png') no-repeat center top fixed;
		background-size: cover;
		font-family: 'PT Sans', sans-serif;
		color: rgba(var(--cream));
	}

	/* Links */
	.alert-success a:link,
	.alert-success a:visited {
		color: rgba(60, 118, 61);
	}

	.alert-success a:hover,
	.alert-success a:focus,
	.alert-success a:active {
		color: rgba(34, 70, 34) !important;
	}

	.alert-danger a:link,
	.alert-danger a:visited {
		color: rgba(169, 68, 66);
	}

	.alert-danger a:hover,
	.alert-danger a:focus,
	.alert-danger a:active {
		color: rgba(140, 55, 53) !important;
	}

/* SCROLLBAR */

	/* Chrome */

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: rgba(var(--darkblue));
		border-radius: 0px;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(var(--rust));
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgba(var(--darkorange)) !important;
	}

	/* Firefox */

	:root {
		scrollbar-color: rgba(var(--rust)) rgba(var(--darkblue)) !important;
		scrollbar-width: thin !important;
	}

/* BARS */

	.topbar {
		background: rgba(var(--rust)) !important;
		color: rgba(var(--cream)) !important;
		border-radius: 0px 0px 10px 10px;
	}

	.breadcrumb {
		background: rgba(var(--rust)) !important;
		color: rgba(var(--cream)) !important;
	}

	.breadcrumb>.active {
		color: rgba (var(--cream));
	}

	/* Navbar */
	.navbar {
		background: rgba(var(--rust)) !important;
		border-radius: 10px 10px 0px 0px;
		padding-top: 1px;
	}

	.navbar li a {
		color: rgba(var(--cream)) !important;
		transition: 0.4s;
	}

	.navbar li a:hover {
		background: rgba(var(--orange)) !important;
	}

	/*Progress Bar*/
	.progress {
		overflow: hidden;
		background-color: rgba(var(--cream));
	}

	.progress-bar {
		background: rgba(var(--rust));
	}

	th .progress-bar {
		background: rgba(var(--orange));
	}

/* Headers */

	/* Main Header */

	h1 {
		text-align: center;
		color: rgba(var(--brightorange));
		font-size: 40px;
		padding: 20px;
	}

	/* Small Headers */

	h3, .sidebar h3 {
		color: rgba(var(--brightorange));
	}

/* MAIN COLUMN */

	/* Background */

	div.container.main {
		background: rgba(var(--darkblue)) !important;
		box-shadow: none;
		border: none !important;
		border-radius: 10px;
	}

	.col-md-9 {
		background: none;
	}

/* TABLES */

	/* Background/Border */

	.table {
		background: rgba(var(--darkred));
		border: none;
		border-collapse: separate;
		border-radius: 10px;
		overflow: hidden;
	}

	/* Table Headers + Footers */

	th, .top {
		text-align: left;
		background: rgba(var(--rust)) !important;
	}

	.bottom {
		background: rgba(var(--rust)) !important;
		text-align: right !important;
	}

	.table .left {
		background: rgba(var(--rust)) !important;
		border-radius: 0px;
	}

	/* Inner Table */

	div#lion_image {
		border-radius: 50% !important;
		overflow: hidden;
	}

	.inner-table {
		border-spacing: 0px;
		overflow: hidden;
		border-radius: 10px;
	}

	.inner-table .left {
		background: rgba(var(--rust)) !important;
		border-radius: 0px;
	}

	.inner-table .right,
	.table .right_odd {
		background: rgba(var(--orange)) !important;
		border-radius: 0px;
	}

	/* Grids */

	.cave-grid,
	.mound-grid,
	div .left {
		background: rgba(var(--rust));
		border: none;
		color: rgba(var(--darkred));
		transition: 1s;
	}

	.mound-grid {
		padding: 0;
		padding-bottom: 5px;
	}

	.cave-grid img,
	.mound-grid img {
		width: 100%;
	}

	.cave-grid:hover, .mound-grid:hover {
		color: rgba(var(--cream));
	}

/* SIDEBAR */

	/* Panels */
	.col-md-3 .panel {
		background: rgba(var(--orange));
		border: none;
		border-radius: 10px;
		color: rgba(var(--darkred));
		box-shadow: none;
	}

/*BUTTONS/OTHER INPUTS*/

	/* Buttons */

	.select-control,
	button.button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		background: rgba(var(--darkred)) !important;
		color: rgba(var(--orange)) !important;
		border: 1px solid rgba(var(--darkorange)) !important;
		text-align: center !important;
		text-shadow: none !important;
		box-shadow: 2px !important;
		transition: 1s;
	}

	.select-control:hover, .select-control:focus, .select-control:active,
	button.button:hover, button.button:focus, button.button:active,
	input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active,
	input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active,
	input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active {
		background: rgba(var(--brown)) !important;
	}

	h3 input[type="button"],
	h3 input[type="submit"],
	h3 input[type="reset"] {
		margin-left: -6px !important;
	}

	/* Text Areas */

	textarea, textarea:focus,
	input[type="text"], input[type="text"]:focus,
	input[type="password"], input[type="password"]:focus {
		background: rgba(var(--cream));
		color: rgba(var(--darkblue));
	}

	/* Select */

	select, select:focus {
		background: rgba(var(--cream));
		color:rgba(var(--darkblue));
	}

/* EVENT SPECIFICS */

	/* Event Features */
	div .feature {
		color: rgba(var(--cream));
		background: rgba(var(--rust));
		border: none;
		border-radius: 10px;
	}

	/* December Gifting Table */

	.table .table {
		background: rgba(var(--darkred));
		border-radius: 10px;
	}

/*IMAGES*/

	/*Logo Replacement*/

	div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
		visibility: hidden;
		position: relative;
	}

	div.container.main > div:nth-child(1) > nav > div.navbar-header > a::after {
		content: url('https://tinyurl.com/y3bzhcya');
		position: absolute;
		margin-left: -170px;
	}
