/*
	CSS by pluto (#52831).

	-------------------------------------------------------

	* This code was made for personal use ONLY. Nobody besides the creator may use this code..
	  If it's discovered that you have, I (pluto) will contact you and ask you to take it down. If it continues after the fact, it will result in a report to the mods.
	* Any unauthorized commercial use of this code will result in a mod report without warning.
		- This specifically pertains to copying any section of this code.
	* Anyone is allowed to reference my code in the making of their own.
	* All of the above terms also apply to HTML used in this code.

	-------------------------------------------------------

	Ater (#206739) helped me figure out some of the code and I took a note from him when it came to organizing.
	He wrote the Firefox-friendly logo replacement, and also helped with the CSS credit.
	If you feel as though I need to credit someone else, just message me.
	A lot of this was done by looking at various guides and LD's code, as well as w3schools and stackexchange.

	-------------------------------------------------------

	This code was created in VSCode.
*/

/* Setup: Fonts/Colors */

@font-face {
	font-family: "Daizen Script";
	src: url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Daizen.otf') format("opentype"),
		url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Daizen.ttf') format("truetype"),
		url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Daizen.woff') format("woff"),
		url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Daizen.woff2') format("woff2");
	
}

/* General: Body/Main/Topbar */

body {
	background: url('https://pluto-ld.github.io/lioden-css/graphics/blackgold_wall.jpg') center top fixed no-repeat;
}

.main {
	background: rgba(0, 0, 0, 0.7);
	border: 4px outset rgba(230, 175, 59, 0.5);
	border-radius: 20px;
}

/* For one solid color, background: none here. */
.col-md-9 {
	background: none;
}

/* Panels: Tables/Panels */

/* Bars: Breadcrumb/Navbar*/

.navbar {
	border-radius: 20px 20px 0px 0px;
	background: none;
}

/* Text: Headers/Text Decoration/etc */

h1 {
	font-family: "Daizen Script", Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	font-size: 70px;
	text-shadow: 0 0 10px rgb(230, 175, 59)
}

.navbar > li > a {
	color: rgb(230, 175, 59);
	background: rgb(230, 175, 59);
	background: linear-gradient(143deg, rgb(239, 179, 59) 63%, rgb(231, 205, 152) 72%, rgb(239, 179, 59) 79%);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 200% 100%;	
}

.navbar > li > a:hover {
	transition: background-position 0 100%;
}

/* Social: Chatbox/Comment Box */

/* Mobile Changes */

@media (max-width: 768px) {
	
}
