/*
	CSS by pluto (#52831).

	-------------------------------------------------------

	* This code was made for personal use ONLY. Nobody besides the creator may use this code..
	  If it's discovered that you have, I (pluto) will contact you and ask you to take it down. If it continues after the fact, it will result in a report to the mods.
	* Any unauthorized commercial use of this code will result in a mod report without warning.
		- This specifically pertains to copying any section of this code.
	* Anyone is allowed to reference my code in the making of their own.
	* All of the above terms also apply to HTML used in this code.

	-------------------------------------------------------

	Ater (#206739) helped me figure out some of the code and I took a note from him when it came to organizing.
	He wrote the Firefox-friendly logo replacement, and also helped with the CSS credit.
	If you feel as though I need to credit someone else, just message me.
	A lot of this was done by looking at various guides and LD's code, as well as w3schools and stackexchange.

	-------------------------------------------------------

	This code was created in VSCode.
*/

/* Setup: Fonts/Colors */

@font-face {
	font-family: "Daizen Script";
	src: url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Daizen.otf') format("opentype"),
		url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Daizen.ttf') format("truetype"),
		url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Daizen.woff') format("woff"),
		url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Daizen.woff2') format("woff2");
	
}

/* General: Body/Main/Topbar */

.topbar {
	background: rgba(117, 85, 19, 0.85);
}

body {
	background: url('https://pluto-ld.github.io/lioden-css/graphics/blackgold_wall.jpg') center top fixed no-repeat;
	color: rgb(230, 175, 59);
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.main {
	background: rgba(0, 0, 0, 0.85);
	border: 4px outset rgba(230, 175, 59, 0.5);
	border-radius: 20px;
}

/* For one solid color, background: none here. */
.col-md-9 {
	background: none;
}

/* Panels: Tables/Panels */

.col-md-3 .panel {
	background: none;
	border: none;
	box-shadow: none;
}

.table {
	border: none;
}

.table#about .top {
	background: none;
	text-align: left !important;
	color: rgb(183, 138, 43);
}

.table#about .bottom {
	background: none;
	text-align: right;
	font-style: italic;
	font-size: 12px;
}

.table#player .top {
	display: none;
}

.table#player {
	margin: 50px 0px;
	max-width: 100%;
	overflow: hidden;
}

.table#player .right > .center.xlarge:first-child::after {
	content: "#58766";
}

.inner-table {
	border-spacing: 0;
	color: rgb(138, 111, 47);
}

.inner-table .left {
	background: none;
	padding: 2px 8px;
	text-align: right;
}

.inner-table .right {
	background: none;
	padding: 2px 8px;
}

.table .inner-table {
	letter-spacing: 2px;
}

.table#player .right > .center.xlarge:first-child, .table#about .top {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

/* Bars: Breadcrumb/Navbar*/

.breadcrumb {
	background: none;
}

.navbar {
	border-radius: 20px 20px 0px 0px;
	background: none;
	margin-left: -50px;
	min-height: 80px;
	margin-top: 20px;
}

.navbar-header {
	visibility: hidden;
}

.alert {
	color: rgb(72, 48, 2) !important;
	background: rgb(255, 212, 127) !important;
	box-shadow: 0 0 10px rgb(255, 212, 127);
	border-radius: 20px;
	border: none !important;
}

.progress-bar {
	background: rgb(230, 175, 59);
	box-shadow: 0 0 20px rgb(230, 175, 59), inset 0 3px 5px rgba(219, 131, 35, 0.96);
}

.progress {
	background-color: rgb(138, 111, 47);
	border-radius: 20px 0px 0px 20px;
	box-shadow: inset 0 7px 7px rgba(85, 55, 16, 0.38);
	border-right: 10px solid #b0a89d;
}

.progress div::after {
  	content: "hi";
	position: absolute;
	height: 40px;
	width: 80px;
	border-bottom-left-radius: 50%;
}

/* Text: Headers/Text Decoration/etc */

h1 {
	font-family: "Daizen Script", Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	font-size: 70px;
	text-shadow: 0 0 10px rgb(230, 175, 59);
	color: rgb(230, 175, 59);
	position: absolute;
	top: -30px;
	left: 30%;
}

.sidebar h3 {
	color: rgb(230, 175, 59);
}

.sidebar h3:hover {
	color: rgb(255, 202, 99);
}

.navbar-nav > li > a {
	color: rgb(230, 175, 59) !important;
	transition: 275ms ease;
}

.navbar-nav > li > a:hover {
	color: rgb(255, 202, 99) !important;
	text-shadow: 0 0 5px rgb(255, 202, 99);
	background: none !important;
}

.table#player .inner-table td[width="3"]::after {
	content: "✖";
}

a:link, a:visited, a:active {
	color: rgb(166, 98, 35);
	transition: 275ms;
}

a:hover {
	color: rgba(255, 202, 99);
	text-shadow: 0 0 10px rgba(255, 202, 99);
}

.table#about .top a:link, .table#about .top a:active, .table#about .top a:visited {
	color: rgb(230, 175, 59);
	font-family: "Daizen Script", Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	text-shadow: 0 0 10 rgb(230, 175, 59);
	text-transform: capitalize;
}

.table#about .top a:hover {
	color: rgba(255, 202, 99);
	text-shadow: 0 0 10px rgba(255, 202, 99);
}

.table#about .bottom a:link, .table#about .bottom a:visited, .table#about .bottom a:active {
	color: rgb(183, 138, 43);
}

.table#about .bottom a:hover {
	color: rgba(255, 202, 99);
	text-shadow: 0 0 10px rgba(255, 202, 99);
}

/* Social: Chatbox/Comment Box */

#commentBox {
	width: 60%;
	float: left;
	padding: 5px !important;
	border-radius: 10px !important;
	border: none !important;
	background: rgb(255, 202, 99, 0.4);
}

#commentBox::before {
	content: "";
	height: 300px;
	width: 40%;
	position: absolute;
	right: 0;
	background: url('https://media.discordapp.net/attachments/821974198540566578/1119439096998264832/Ultio_LD59701.png') center center no-repeat;
	background-size: contain;
}

#makeComment {
	width: 60%;
	float: left;
	margin-bottom: 5px;
}

#commentErrors {
	width: 60%;
	float: left;
}

/* Inputs: Buttons/Text Inputs/Switches */

#comment {
	background: rgba(255, 202, 99, 0.35);
	border-radius: 20px !important;
	border: none !important;
	padding-left: 5px !important;
}

.select-control, button.button, input[type="button"], input[type="submit"], input[type="reset"] {
	background: rgb(230, 175, 59);
	color: black;
	border: none;
	text-shadow: none;
	border-radius: 20px;
	transition: 275ms;
}

.select-control:hover, button.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	background: rgba(255, 202, 99);
	color: rgb(72, 48, 2);
	border: none;
	text-shadow: none;
	border-radius: 20px;
	box-shadow: 0 0 10px rgb(255, 202, 99);
}

/* Graphics: Lion PFP/Icons/Caves/etc */

#lion_image{
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

/* Centering lion PFP code below; made by ryouta#276513 */
#about tr.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#about tr.right td:not(.right):not([width="3"]) {
  width: unset !important;
}

/* Mobile Changes */

@media (max-width: 768px) {
	.navbar-header {
		visibility: visible;
	}
	
	.navbar {
		margin: 0;
		min-height: 50px;
	}
	
	h1 {
		top: -33px;
		left: 22%;
	}
	
	.table .inner-table {
		letter-spacing: 0px;
	}
	
	.inner-table .left {
		text-align: left !important;
	}
}
