/*
	CSS by pluto (#52831). Commissioned by Clem (200438).

	-------------------------------------------------------

	* This code was made for personal use ONLY. Only the commissioner or those that the commissioner allows may use it on their dens.
	* The commissioner is allowed to edit my code, as long as they leave the credit intact. Removal of credit by the commissioner will result in the code being taken down.
	* Anyone other than me or the commissioner is NOT allowed to edit and reuse this code elsewhere	for personal use.
	  If it's discovered that you have, I (pluto) will contact you and ask you to take it down. If it continues after the fact, it will result in a report to the mods.
	* Any unauthorized commercial use of this code will result in a mod report without warning.
		- This specifically pertains to copying any section of this code.
	* Anyone is allowed to reference my code in the making of their own.
	* All of the above terms also apply to HTML used in this code.

	-------------------------------------------------------

	Ater (#206739) helped me figure out some of the code and I took a note from him when it came to organizing.
	He wrote the Firefox-friendly logo replacement, and also helped with the CSS credit.
	If you feel as though I need to credit someone else, just message me.
	A lot of this was done by looking at various guides and LD's code, as well as w3schools and stackexchange.

	-------------------------------------------------------

	This code was created using VSCode and hosted on Github.
*/

/* Setup: Fonts/Colors */
:root {
	--gold: 242, 168, 96;
	--pink: 254, 153, 185;
	--red: 182, 3, 43;
	--green: 87, 136, 108;
	--black: 34, 29, 35;
	--white: 253,251,252;
}

@font-face {
	font-family: "Loving Rose";
	src: url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Loving Rose Solid.otf') format("opentype"),
		url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Loving-Rose-Solid.ttf') format("truetype"),
		url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Loving-Rose-Solid.woff') format("woff"),
		url('https://pluto-ld.github.io/lioden-css/graphics/fonts/Loving Rose Solid.woff2') format("woff2");
	
}
/* Boxes: Custom Boxes */

/* General: Body/Main/Topbar/Scroll */

.topbar {
	background: rgba(var(--red), 0.85);
	box-shadow: 0px 0px 5px rgba(var(--red));
	border-radius: 0px 0px 15px 15px;
}

body {
	background: url('https://raw.githubusercontent.com/pluto-ld/lioden-css/main/graphics/honeybee_css/Honeybee.jpeg') center center fixed no-repeat, rgb(208, 81, 109);
	color: rgba(var(--black));
}

.main {
	background: rgba(var(--pink), 0.85);
	background: linear-gradient(-45deg, rgba(254,153,185,0.85) 0%, rgba(242,168,96,0.8) 21%, rgba(249,160,144,1) 44%, rgba(254,153,185,0.85) 100%);
	border: none;
	box-shadow: 0px 0px 5px rgba(var(--pink));
	border-radius: 10px;
}

:root {
	scrollbar-color: /* 2 colors */ !important;
	scrollbar-width: thin !important;
}

.s-chat-sidebar #chatMessageList {
	scrollbar-color: /* 2 colors */ !important;
	scrollbar-width: thin !important;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: ;
}

::-webkit-scrollbar-thumb {
	background: ;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: !important;
}


/* For one solid color, background: none here. */
.col-md-9 {
	background: none;
}

/* Panels: Tables/Panels */

.col-md-3 .panel {
	background: rgba(var(--red), 0.2);
	border: none;
	border-radius: 15px;
	box-shadow: none;
	position: relative;
}

/* note: add leaves and such to :afters of panels! */

.table {
	border: none;
	overflow: hidden;
	border-radius: 15px;
	border-collapse: separate;
	background: rgba(var(--red), 0.2);
}

.table .top, .table th, .table .bottom {
	color: rgba(var(--white));
	background: rgba(var(--red), 0.1);
}

.table .left {
	background: none;
}

div .left {
	background: rgba(var(--red), 0.2);
	border-radius: 15px;
}

div .left > img {
	border-radius: 0px 0px 15px 15px;
}

.inner-table {
	border-spacing: 0;
	background: rgba(var(--gold), 0.25);
	box-shadow: 0px 0px 40px rgba(var(--gold), 0.5);
	border-radius: 15px;
}

.inner-table .left {
	background: none;
}

.inner-table .right {
	background: none;
}

.table .right_odd {
	background: rgba(var(--gold), 0.);
	box-shadow: 0px 0px 40px rgba(var(--gold), 0.5);
}

.cave-grid {
	border: none !important;
	border-radius: 15px;
	background: rgba(var(--red),0.2);
}

.mound-grid {
	border: none !important;
	border-radius: ;
	background: none;
}

.mound-grid img {
	margin-bottom: ;
}

/* Bars: Breadcrumb/Navbar*/

.breadcrumb {
	background: rgba(var(--red), 0.2);
	border-radius: 15px;
}

.navbar {
	border-radius: ;
	background: none;
	margin-left: ;
	min-height: ;
	margin-top: ;
	border-bottom: 2px solid rgba(var(--red));
}

.alert {
	color:  !important;
	background:  !important;
	border-radius: ;
	border: !important;
}

.progress-bar {
	background: rgba(var(--red), 0.7);
}

.progress {
	background: rgba(var(--white));
	border-radius: 10px;
}

/* Text: Headers/Text Decoration/etc */

h1 {
	font-family: "Loving Rose";
	text-align: center;
	font-size: 100px;
	color: rgba(var(--red), 0.7);
}

.sidebar h3, h3 {
	color: ;
	transition: ;
}

.sidebar h3 a:hover {
	color: ;
}

.navbar-nav > li > a {
	color: !important;
	transition: ;
}

.navbar-nav > li > a:hover {
	color: !important;
	background: none !important;
}

a:link, a:visited, a:active {
	color: ;
	transition: ;
}

a:hover {
	color: ;
}

#chatMessageContainer a:link, #chatMessageContainer a:visited, #chatMessageContainer a:active, .table .bottom a:link, .table .bottom a:visited, .table .bottom a:active {
	color: ;
}

#chatMessageContainer a:hover, .table .bottom a:hover {
	color: ;
}

.topbar a:link, .topbar a:visited, .topbar a:active {
	color: ;
}

.topbar a:hover {
	color: ;
}

.breadcrumb > .active {
	color: ;
}

.breadcrumb > li + li::before {
	color: !important;
}

.alert a:hover {
	color: black;
}

hr {
	border-top-color: ;
}

/* Social: Chatbox/Comment Box */

#commentBox {
	border: none !important;
	border-radius: 15px !important;
	background: rgba(var(--red), 0.2) !important;
	color: ;
}

.comment {
	padding: 5px 10px;
}

.comment:nth-child(2n) {
	background: rgba(var(--red), 0.1) !important;
}

#chatMessageContainer {
	border-radius: 15px;
	background: rgba(var(--red), 0.2);
	border: none;
}

#chatMessagePinned.s-chat-message__pinned {
	background: /*color*/ url(//static.lioden.com/images/layout/sticky.png) no-repeat 10px 6px;
	border-bottom-color: rgba(var(--red)) !important;
	color: rgba(var(--red));
}

.s-chat-message:nth-child(2n+1) {
	background: rgba(var(--red), 0.1);
}

.s-chat-message:nth-child(2n) {
	background: none;
}

.s-chat-message_timestamp, .text-muted {
	color: rgba(var(--red), 0.5);
}

#fra_chatContainer .modMessage, .s-chat-message__mod {
	background: rgba(var(--green), 0.4) !important;
	border-top-color: rgba(var(--green)) !important;
	border-bottom-color: rgba(var(--green)) !important;
}

#fra_chatContainer .modMessage .s-chat-message_timestamp, .s-chat-message__mod .s-chat-message_timestamp {
	color: rgba(var(--black), 0.3);
}

.s-chat-message.hasContext, #chatMessageList[data-pings="enabled"] .s-chat-message_mention {
	border-left-color: rgba(var(--gold)) !important;
	background-color: rgba(var(--gold), 0.4) !important;
}

#txtChatContainer #lblCharacterCounter {
	color: rgba(var(--green));
}

.badge {
	background: rgba(var(--gold));
}

/* Inputs: Buttons/Text Inputs/Switches */

input, button, select, textarea {
	color: ;
}

#comment, #fra_chatContainer #txtChatInput {
	background: rgba(var(--white));
	border-radius: 15px !important;
	border: none !important;
	padding-left: 5px !important;
}

.select-control, button.button, input[type="button"], input[type="submit"], input[type="reset"] {
	background: rgba(var(--red));
	color: rgba(var(--white));
	border: none;
	text-shadow: none;
	border-radius: 15px;
	transition: 275ms;
}

.select-control:hover, button.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	background: rgba(var(--red), 0.7);
	color: rgba(var(--white));
	border: none;
	text-shadow: 0px 0px 2px rgba(var(--white));
	border-radius: 15px;
	box-shadow: 0px 0px 3px rgba(var(--red));
}

.s-chat-sidebar #label_currentChannel {
	background: ;
	border-radius: ;
	border: ;
	color: ;
}

.s-chat-sidebar #fraChatChannelMenu, #context-chatMenu, #fraChatSettingsMenu {
	background: ;
	border-radius: ;
	border: ;
	box-shadow: ;
	padding: ;
}

.s-chat-sidebar #fraChatChannelMenu {
	overflow: hidden;
}

#fra_chatContainer .channelMenu .channelSwitcher, #context-chatMenu .chatMenu-option, #fraChatSettingsMenu .chatMenu-option {
	border-radius: ;
	background: ;
	color: ;
	transition: 275ms;
}

#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: ;
	color: ;
}

#fra_chatContainer .channelMenu .channelSwitcher:hover, #context-chatMenu .chatMenu-option:hover, #fraChatSettingsMenu .chatMenu-option:hover {
	background: ;
	color: ;
}

.chatMenu-container:not(#fraChatSettingsMenu) {
	overflow: hidden;
	border-radius: ;
}

#btnPopoutChat {
	border-radius: ;
}
 #context-chatMenu::before {
	border-left-color: ;
}

#fraChatSettingsMenu::before {
	border-bottom-color: ;
}

#context-chatMenu::after {
	border-left-color: ;
}

#fraChatSettingsMenu::after {
	border-bottom-color: ;
}

.item {
	background: ;
	border: ;
	border-radius: ;
}

.item-header {
	color: ;
	background: ;
}

.slider {
	background: ;
}

input:checked + .slider {
	background: ;
}

/* Graphics: Lion PFP/Icons/Caves/etc */

#lion_image{
	border-radius: 50%;
	overflow: hidden;
	box-shadow: -3px 3px 4px rgba(var(--gold), 0.5);
}

div.cave-grid > img[src$="//static.lioden.com/images/layout/unsortedlionsbanner.png"] {
	background: url('') center center no-repeat !important;
	background-size: cover !important;
	padding-left: 100%;
	height: 60px;
}

div.cave-grid > img[src$="//static.lioden.com/images/layout/nestingbanner.png"] {
	background: url('') center center no-repeat !important;
	background-size: cover !important;
	padding-left: 100%;
	height: 60px;
}

div.cave-grid > img[src$="//static.lioden.com/images/layout/prideoverviewbanner.png"] {
	background: url('') center center no-repeat !important;
	padding-left: 100%;
	height: 60px;
}


div.cave-grid > img[src$="//static.lioden.com/images/layout/cavedefault.jpg"] {
	background: url('') center center no-repeat !important;
	background-size: cover !important;
	padding-left: 100%;
	height: 120px;
}

div.mound-grid > img[src$="//static.lioden.com/images/layout/beetleunsorted.png"] {
	background: url('') center center no-repeat !important;
	background-size: contain !important;
	width: 130px;
	height: 80px;
	padding-left: 100%;
}


div.mound-grid > img[src$="//static.lioden.com/images/layout/beetlemound.png"] {
	background: url('g') center center no-repeat !important;
	background-size: contain !important;
	width: 130px;
	height: 80px;
	padding-left: 100%;
}

/* Centering lion PFP code below; made by ryouta#276513 */
#about tr.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#about tr.right td:not(.right):not([width="3"]) {
  width: unset !important;
}

/* Mobile Changes */

@media (max-width: 768px) {
	
}
