/*
	CSS by pluto (#52831). Commissioned by [NAMEHERE].

	-------------------------------------------------------

	* This code was made for personal use ONLY. Only the commissioner or those that the commissioner allows may use it on their dens.
	* The commissioner is allowed to edit my code, as long as they leave the credit intact. Removal of credit by the commissioner will result in the code being taken down.
	* Anyone other than me or the commissioner is NOT allowed to edit and reuse this code elsewhere	for personal use.
	  If it's discovered that you have, I (pluto) will contact you and ask you to take it down. If it continues after the fact, it will result in a report to the mods.
	* Any unauthorized commercial use of this code will result in a mod report without warning.
		- This specifically pertains to copying any section of this code.
	* Anyone is allowed to reference my code in the making of their own.
	* All of the above terms also apply to HTML used in this code.

	-------------------------------------------------------

	Ater (#206739) helped me figure out some of the code and I took a note from him when it came to organizing.
	He wrote the Firefox-friendly logo replacement, and also helped with the CSS credit.
	If you feel as though I need to credit someone else, just message me.
	A lot of this was done by looking at various guides and LD's code, as well as w3schools and stackexchange.

	-------------------------------------------------------

	This code was created in Atom.
*/

/* --- FONTS --- */

/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=ZCOOL+QingKe+HuangYou&display=swap');*/

/* --- COLORS --- */

:root {
	--COLOR: ; /* HEX CODE HERE */
}

/* --- no html/css msg --- */
.hiding {
	display: none;
}

.marquee {
	height: 200px;
	overflow: hidden;
	position: relative;
	border: 1px solid black;
}

.marquee > div {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	transform: translateX(100%);
	animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}
